<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <script type="text/javascript" src="/scripts/cart.js" async></script>

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->

  <title>Document</title>
</head>
<body>
  <%-include('partials/_header') %>



<!-- Main -->

<div class="container">
  <h4>Menu</h4>
<table>

  <div class="row">
    <% for(let item in items) { %>
      <tr>
    <div class="col">

<td><img class="card-img-top" src="<%= items[item].img%>"></td>
<div>
  <td><p class="card-title"><%= items[item].name%></p></td>
  <td><p class="card-text">$<%= Number(items[item].price).toFixed(2)%></p></td>
  <td><a href="#" data-name="<%= items[item].name%>" data-price="<%= items[item].price%>" class="add-to-cart btn btn-primary">Add to cart</a></td>
</tr>
</div>

    </div>
    <% } %>
  </div>
</table>
</div>

<div>
  <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button><button class="clear-cart btn btn-danger">Clear Cart</button></div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cart</h5>


      </button>
    </div>
    <div class="modal-body">
      <table class="show-cart table">

      </table>
      <div>Total price: $<span class="total-cart"></span></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Place Order</button>
    </div>
  </div>
</div>
</div>

</div>
</body>

</html>
