<!DOCTYPE html>

<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/scripts/cart.js" async></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Menu</title>
    </head>

  <body>
    <%- include('./partials/navbar') %>

    <!-- Checkout Cart -->
    <div class="checkout-cart">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#cart">
            <i class="fa-solid fa-cart-shopping"></i>
            (<span class="total-count"></span>)
          </button>
          <button class="clear-cart btn btn-danger">
            Clear Cart
          </button>
        </div>
      </div>
    </div>

    <!-- Main -->
    <div class="container-fluid my-5 bg-light">
      <h4>Menu</h4>

      <div class="row">
          <% for(let item in items) { %>
            <div class="col-md-4 d-flex justify-content-center text-center my-2">
              <div class="row">
                <div class="col">
                  <img class="item-img" src="<%= items[item].img%>">
                  <p class="card-title">
                    <%= items[item].name%>
                  </p>
                <div class="ingredients">
                  Ingredients
                  <span class="ing-text">
                    <%= items[item].ingredient%>
                  </span>
                </div>
                <p class="card-text">
                  $<%= Number(items[item].price).toFixed(2)%>
                </p>
                  <a href="#" data-name="<%= items[item].name%>" data-price="<%= items[item].price%>" class="add-to-cart btn btn-primary">
                    Add to cart
                  </a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <footer id="footer">
    <!-- cart popup -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Cart
            </h5>
            </button>
          </div>
          <div class="modal-body">
            <table class="show-cart table">
            </table>
            <div>
              Total price: $<span class="total-cart"></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
              <a href="/confirmation">
                <button type="submit" class="btn btn-primary">
                  Place Order
                </button>
              </a>
          </div>
        </div>
      </div>
    </div>


    </footer>

  </body>
</html>
